<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBSpr3ufe-ZZkpjgqY8Sn99i_hBo6A8FU</string>
	<key>GCM_SENDER_ID</key>
	<string>630434790044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tutionApp</string>
	<key>PROJECT_ID</key>
	<string>database-ac3d2</string>
	<key>STORAGE_BUCKET</key>
	<string>database-ac3d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630434790044:ios:a60727a64c945a12e90b59</string>
</dict>
</plist>